.custom-table-today-exam-slots .ant-table-tbody > tr > td {
  padding: 0px;
}

.custom-table-today-invigilators .ant-table-tbody > tr > td {
  padding: 14px;
}

.custom-table-today-exam-slots {
  width: 100%;
}
