.custom-agenda .agenda-week-group {
    margin-bottom: 20px;
  }
  
  .custom-agenda h4 {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-agenda ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .custom-agenda li {
    padding: 5px 0;
  }
  