
.rbc-calendar {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}

.rbc-header {
  background-color: #f0f0f0; 
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.rbc-day-slot {
  border-right: 1px solid #ddd; 
}

.rbc-event {
  background-color: #1890ff; 
  color: white;
  border-radius: 4px; 
  padding: 5px;
  text-align: center;
  cursor: pointer; 
}

.rbc-event:hover {
  background-color: #40a9ff; 
}

.rbc-selected {
  background-color: #40a9ff; 
}

.rbc-month-view {
  overflow: hidden; 
}

.rbc-month-view .rbc-row {
  border-bottom: 1px solid #f0f0f0; 
}

.rbc-day-slot .rbc-time-slot {
  border: none; 
}


.rbc-today {
  background-color: #e6f7ff; 
}

.rbc-month-row .rbc-row {
  border-bottom: none;
}

.rbc-agenda-time-cell {
  border-left: 1px solid #ddd;
}

.ant-modal-title {
  border-bottom: 1px solid #f0f0f0;
}

.ant-modal .ant-modal-title {
  font-size: 20px;
  font-weight: 500;
}


.table-assign td {
  padding-left: 20px;
  text-align: center;
  font-weight: 600;
}

.table-assign th {
  font-weight: 600;
}