.rbc-day-slot .rbc-event-label {
  font-weight: 900;
  display: none;
}

.ant-checkbox-wrapper {
  justify-content: center;
}

.rbc-agenda-time-cell {
  display: none; 
}

.rbc-agenda-view .rbc-header:nth-child(2) {
  display: none; 
}

