.header {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Style the header links */
.header-left a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: s18px;
  line-height: 25px;
  border-radius: 4px;
  padding: 14px 30px;
}

.header a img {
  height: 60px;

  aspect-ratio: 3.5 /1;
}

.header-right {
  float: right;
  background-color: #f1f1f1;
  padding-right: 1.875rem;
}

.header-right .header-right-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.header-right button {
  font-size: 16px;
}

.button-name.active {
  color: white;
}
